<div class="col">
    <form data-bind="submit: search">
        <h8>Search Terms:</h8>
        <input class="form-control form-control-borderless" id="searchTerms" type="search"  placeholder="Example: &quot;how to print hello word&quot;" data-bind="value: input" required>
        <h8>Results per Page:</h8>
        <select class="form-control" id="sizes" data-bind="foreach: sizes, value: size">
            <option data-bind="text: $data"></option>
        </select>
        <button class="btn btn-outline-secondary" type="submit">Search</button>
    </form>
    <ul class="pagination" data-bind="foreach: pages()">
        <li class="page-item" data-bind="class: $parent.isPageActive($data)">
            <a class="page-link" 
               href="#" 
               data-bind="text: $data, click: () => $parent.changePage($data)"></a>
        </li>
    </ul>
    <ul class="list-group" data-bind="foreach: results().questions">
        <a href="#" 
           class="list-group-item list-group-item-action" 
           data-bind="text: $data.title, 
           click: () => $parent.showPost($data.postId)"></a>
    </ul>
</div>
