<div class="col">
    <input class="form-control form-control-borderless" type="search" placeholder="keywords" data-bind="value: input">
    <button class="btn btn-outline-secondary" type="button" data-bind="click: search">Search</button>
    <ul class="pagination" data-bind="foreach: pages()">
        <li class="page-item"><a class="page-link" href="#" data-bind="text: $data, click: () => $parent.page($data)"></a></li>
    </ul>
    <ul class="list-group" data-bind="foreach: results().questions">
        <a href="#" class="list-group-item list-group-item-action" data-bind="text: $data.title"></a>
    </ul>
</div>
