<div class="col">
    <h2>Login Form:</h2>
<form data-bind="submit: login">
    <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email" data-bind="value: email" required>
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" data-bind="value: password" required>
    </div>
    <button type="submit" class="btn btn-default">Login</button>
</form>
    <h2>Signup Form:</h2>    
<form data-bind="submit: signup">
    <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email" data-bind="value: email" required>
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" data-bind="value: password" required>
    </div>
    <button type="submit" class="btn btn-default">Sign Up</button>
</form>
    
</div>