<div class="container">
    <div class="col">
        <button class="btn btn-outline-secondary" data-bind="click: back">Back</button>
        <button class="btn btn-outline-secondary" data-bind="click: showWordCloud">Show Word Cloud</button>
        <button class="btn btn-outline-secondary" data-bind="click: createBookmark, class: isBookmarkVisible()">Bookmark</button>
        <div class="d-flex">
            <h2 data-bind="text: question().title"></h2>
            <span class="badge badge-success ml-1" data-bind="text: post().score"></span>
        </div>      
        <div class="container border border-success" data-bind="html: post().body"></div>
        <ul class="list-group" data-bind="foreach: findComments(question().postId)">
            <li class="list-group-item bg-light" data-bind="text: $data.body">
            </li>
        </ul>
        
            <div class="container" data-bind="foreach: answers().posts">
                <span class="badge badge-success" data-bind="text: $data.score"></span>
                <span data-bind="text: $data.creationDate"></span>
                <span data-bind="text: $data.userId"></span>
                <div class="container border" data-bind="html: $data.body" id="data.postId"></div>

                <ul class="list-group" data-bind="foreach: $parent.findComments($data.postId)">
                    
                    <li class="list-group-item bg-light" data-bind="text: $data.body">
                    </li>
                </ul>
                
            </div>
    </div>
</div>